

<div class="row">
	
	<div class = "col-md-12 well center">
		
		<%=link_to( '聯絡eduCare' ,new_message_path, class: 'btn btn-primary btn-lg')%>
	</div>


	<div class="col-md-6">
		<%=image_tag( 'https://dl.dropboxusercontent.com/u/256084506/dm.jpg' , class: 'dm')%>

	</div>

	<div class="col-md-6">
		<p>eduCare是一個提供大學申請入學咨詢的平台。從申請入學到錄取知名大學校系，我們提供全程一對一指導，協助學生了解大學科系，協助備審資料與面試技巧準備。 我們協助申請入學的考生能夠找到合適的咨詢老師，咨詢老師來自於台大、清大、交大、政大等頂尖大學，本身具備與申請科系相符合的專業知識，協助考生在面試時遇到的科系知識問題。我們更挑選本身已有推甄申請經驗以及有咨詢經驗的老師提供考生最棒的咨詢服務。</p>
	</div>
</div>