<h1> 咨詢團隊</h1>
<hr>

<div class="row">

	<% @teachers.each do |teacher| %>

		<div class="col-md-4">
			
			<div class="col-md-12 panel panel-default">
			  
			  <div class="panel-heading">
			  	<p><%= teacher.background %></p>
			  	<%= teacher.name %>
			  </div>

			  <div class="panel-body">
			    Panel content
			  </div>
			
				<div class="panel-footer">
					專長：</br>
					<%= teacher.expertise %>
				</div>
			</div>
		</div><!-- col-md-4 -->
	<%end%>



</div>




