
<h1>咨詢團隊</h1>


<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#">第一類組</a></li>
  <li><a href="#">第二類組</a></li>
  <li><a href="#">第三類組</a></li>
</ul>


</br>

<div class="row">

	<% @teachers.each do |teacher| %>

		<div class="col-md-3">
			
			<div class="col-md-12 panel panel-default">
			  
			  <div class="panel-heading center">
			  	<%= teacher.background %></br>
			  	<%= teacher.name %>
			  </div>

			  <div class="panel-body">
			    <%= image_tag(teacher.image.url(:medium), class: "img-avatar img-rounded") %>
			  </div>
			
				<div class="panel-footer">
					專長：</br>
					<%= simple_format(teacher.expertise) %>
				</div>
			</div>
		</div><!-- col-md-4 -->
	<%end%>



</div>




