// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
	//background-image:url('https://dl.dropboxusercontent.com/u/256084506/background2.jpg');
	//background-image: image-url("background2.jpg");
	background-color: #e6e6e6;
  background-image: image-url("absurdidad.png");
}

.dm{
	width: 100%;
	height: auto;
}

.logo{
	width: 100%;
	height: auto;
}

.well h4{
	color:  #2c3e50;
}

.gray{
	color: #95a5a6;
	font-size:36px;
}

.blue{
	color: #2980b9;
	font-size: 26px;
}
.description{
	font-size: 18px;
}









